.downloadPopup {
  position: absolute;
  top: 60px;
  right: 22px;
  background-color: var(--primary-color);
  border-radius: 4px;
  z-index: 10;
  overflow: hidden;
  width: 170px;
}

.downloadOption {
  display: block;
  width: 100%;
  padding: 16px;
  text-align: left;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s;
}
